@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
.display-1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2.25rem + 4 * ((100vw - 20rem) / 100), 6.25rem);
    line-height: 108%
}

.display-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2.625rem + 6.75 * ((100vw - 20rem) / 100), 9.375rem);
    line-height: 108%
}

.display-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2rem + 3 * ((100vw - 20rem) / 100), 5rem);
    line-height: 108%
}

.heading-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.5rem + 1.75 * ((100vw - 20rem) / 100), 3.25rem);
    line-height: 108%;
    letter-spacing: -2px
}

.heading-2-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.5rem + 1.75 * ((100vw - 20rem) / 100), 3.25rem);
    line-height: 108%;
    letter-spacing: -2px
}

.heading-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.75rem + .875 * ((100vw - 20rem) / 100), 2.625rem);
    line-height: 108%
}

.heading-3-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.75rem + .875 * ((100vw - 20rem) / 100), 2.625rem);
    line-height: 108%
}

.heading-4 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25rem + .625 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 108%
}

.heading-4-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.25rem + .625 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 108%
}

.heading-5 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.125rem + .625 * ((100vw - 20rem) / 100), 1.75rem);
    line-height: 108%
}

.heading-5-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.125rem + .625 * ((100vw - 20rem) / 100), 1.75rem);
    line-height: 108%
}

.heading-6 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.5rem + 0 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: clamp(2.25rem, 2.25rem + 0 * ((100vw - 20rem) / 100), 2.25rem)
}

.heading-6-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.5rem + 0 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: clamp(2.25rem, 2.25rem + 0 * ((100vw - 20rem) / 100), 2.25rem)
}

.text-small {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .5 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: 146%
}

.text-normal {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .875 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 146%
}

.text-normal-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1rem + .875 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 146%
}

.text-large {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25rem + 1.125 * ((100vw - 20rem) / 100), 2.375rem);
    line-height: 146%
}

.text-large-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1.25rem + 1.125 * ((100vw - 20rem) / 100), 2.375rem);
    line-height: 146%
}

.button {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.4375rem + .5625 * ((100vw - 20rem) / 100), 2rem)
}

.button-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.4375rem + .5625 * ((100vw - 20rem) / 100), 2rem)
}

.caption {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.25rem + .125 * ((100vw - 20rem) / 100), 1.375rem)
}

.block-text-callout-card .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%
}

@keyframes loading-1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes loading-3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes loading-2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(24px, 0)
    }
}

.block-text-callout-card .wrapper-container {
    padding-bottom: min(3.125rem + 6.25 * ((100vw - 20rem) / 100), 9.375rem);
    padding-top: min(3.125rem + 3.125 * ((100vw - 20rem) / 100), 6.25rem)
}

.block-text-callout-card .wrapper-container.spacing-small {
    padding-bottom: min(3.125rem + 3.125 * ((100vw - 20rem) / 100), 6.25rem);
    padding-top: clamp(3.125rem, 3.125rem + 0 * ((100vw - 20rem) / 100), 3.125rem)
}

.block-text-callout-card .wrapper-container.spacing-medium {
    padding-bottom: min(3.125rem + 6.25 * ((100vw - 20rem) / 100), 9.375rem);
    padding-top: min(3.125rem + 3.125 * ((100vw - 20rem) / 100), 6.25rem)
}

.block-text-callout-card .wrapper-container.spacing-large {
    padding-bottom: min(3.125rem + 9.375 * ((100vw - 20rem) / 100), 12.5rem);
    padding-top: min(3.125rem + 6.25 * ((100vw - 20rem) / 100), 9.375rem)
}

.block-text-callout-card .wrapper-container.spacing-none {
    padding: 0
}

.block-text-callout-card .inner {
    padding: 1.25rem 1.25rem 0;
    border-radius: 0 0 1.875rem 1.875rem;
    margin-right: .75rem;
    margin-left: .75rem;
    overflow: hidden
}

@media(min-width:48rem) {
    .block-text-callout-card .inner {
        display: grid;
        padding: 0;
        border-radius: 0 0 min(1.875rem + 1.875 * ((100vw - 48rem) / 72), 3.75rem) min(1.875rem + 1.875 * ((100vw - 48rem) / 72), 3.75rem);
        margin-right: 1.875rem;
        margin-left: 1.875rem;
        align-items: center;
        gap: min(1.875rem + 5.3125 * ((100vw - 48rem) / 72), 7.1875rem)
    }
}

@media(min-width:48rem) {
    .block-text-callout-card .inner.image-left {
        padding-right: min(1.875rem + 4.375 * ((100vw - 48rem) / 72), 6.25rem);
        grid-template-columns: min(18.75rem + 20.625 * ((100vw - 48rem) / 72), 39.375rem) 1fr
    }
}

@media(min-width:48rem) {
    .block-text-callout-card .inner.image-right {
        padding-left: min(1.875rem + 4.375 * ((100vw - 48rem) / 72), 6.25rem);
        grid-template-columns: 1fr min(18.75rem + 20.625 * ((100vw - 48rem) / 72), 39.375rem)
    }
}

@media(min-width:48rem) {
    .block-text-callout-card .inner.image-right .text {
        order: 1
    }
}

@media(min-width:48rem) {
    .block-text-callout-card .inner.image-right .media {
        order: 2
    }
}

.block-text-callout-card .inner.bg-color-quaternary {
    background-color: #f9f5eb
}

.block-text-callout-card .header {
    margin: 0 1.875rem 2.5rem;
    text-align: center
}

@media(min-width:48rem) {
    .block-text-callout-card .header {
        max-width: min(42.5rem + 35.625 * ((100vw - 48rem) / 72), 78.125rem);
        margin: 0 auto min(5.625rem + 3.75 * ((100vw - 48rem) / 72), 9.375rem);
        order: 1
    }
}

.block-text-callout-card .text {
    padding-bottom: min(1.875rem + 5.625 * ((100vw - 20rem) / 100), 7.5rem);
    padding-top: min(1.875rem + 5.625 * ((100vw - 20rem) / 100), 7.5rem);
    display: flex;
    flex-wrap: wrap;
    gap: min(1.25rem + 1.25 * ((100vw - 20rem) / 100), 2.5rem)
}

.block-text-callout-card .text p:not(:last-child) {
    margin-bottom: min(.625rem + 1.5625 * ((100vw - 20rem) / 100), 2.1875rem)
}

.block-text-callout-card .buttons {
    padding-top: 1.5625rem
}

@media(min-width:48rem) {
    .block-text-callout-card .buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: min(1.875rem + 4.375 * ((100vw - 48rem) / 72), 6.25rem)
    }
}

.block-text-callout-card .media {
    position: relative
}

.block-text-callout-card .media.active .btn-close,
.block-text-callout-card .media.active .video-wrapper {
    opacity: 1
}

.block-text-callout-card .media.active .btn-play {
    opacity: 0
}

.block-text-callout-card .background-image {
    position: relative;
    max-height: 18.75rem
}

.block-text-callout-card .background-image::after {
    content: "";
    display: inline-block;
    width: 100%;
    padding-top: 111.1111111111%
}

.block-text-callout-card .background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media(min-width:48rem) {
    .block-text-callout-card .background-image {
        position: relative;
        max-height: 45.625rem
    }
    .block-text-callout-card .background-image::after {
        content: "";
        display: inline-block;
        width: 100%;
        padding-top: 115.873015873%
    }
    .block-text-callout-card .background-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }
}

.block-text-callout-card .video-wrapper {
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    margin: auto;
    opacity: 0;
    transition: opacity .5s cubic-bezier(.5, 0, 0, 1);
    background-color: #000;
    align-items: center;
    justify-content: center
}

.block-text-callout-card .video-wrapper iframe,
.block-text-callout-card .video-wrapper video {
    width: 100%
}

.block-text-callout-card .embed-preview,
.block-text-callout-card .video-preview {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center
}

.block-text-callout-card .btn-play {
    position: absolute;
    bottom: min(1.5625rem + 1.5625 * ((100vw - 20rem) / 100), 3.125rem);
    right: min(1.5625rem + 1.5625 * ((100vw - 20rem) / 100), 3.125rem);
    z-index: 2
}

.block-text-callout-card .btn-close {
    position: absolute;
    bottom: min(1.5625rem + 1.5625 * ((100vw - 20rem) / 100), 3.125rem);
    right: min(1.5625rem + 1.5625 * ((100vw - 20rem) / 100), 3.125rem);
    z-index: 3;
    opacity: 0
}