@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
.display-1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2.25rem + 4 * ((100vw - 20rem) / 100), 6.25rem);
    line-height: 108%
}

.display-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2.625rem + 6.75 * ((100vw - 20rem) / 100), 9.375rem);
    line-height: 108%
}

.display-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2rem + 3 * ((100vw - 20rem) / 100), 5rem);
    line-height: 108%
}

.heading-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.5rem + 1.75 * ((100vw - 20rem) / 100), 3.25rem);
    line-height: 108%;
    letter-spacing: -2px
}

.heading-2-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.5rem + 1.75 * ((100vw - 20rem) / 100), 3.25rem);
    line-height: 108%;
    letter-spacing: -2px
}

.heading-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.75rem + .875 * ((100vw - 20rem) / 100), 2.625rem);
    line-height: 108%
}

.heading-3-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.75rem + .875 * ((100vw - 20rem) / 100), 2.625rem);
    line-height: 108%
}

.heading-4 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25rem + .625 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 108%
}

.heading-4-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.25rem + .625 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 108%
}

.heading-5 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.125rem + .625 * ((100vw - 20rem) / 100), 1.75rem);
    line-height: 108%
}

.heading-5-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.125rem + .625 * ((100vw - 20rem) / 100), 1.75rem);
    line-height: 108%
}

.heading-6 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.5rem + 0 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: clamp(2.25rem, 2.25rem + 0 * ((100vw - 20rem) / 100), 2.25rem)
}

.heading-6-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.5rem + 0 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: clamp(2.25rem, 2.25rem + 0 * ((100vw - 20rem) / 100), 2.25rem)
}

.text-small {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .5 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: 146%
}

.text-normal {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .875 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 146%
}

.text-normal-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1rem + .875 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 146%
}

.text-large {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25rem + 1.125 * ((100vw - 20rem) / 100), 2.375rem);
    line-height: 146%
}

.text-large-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1.25rem + 1.125 * ((100vw - 20rem) / 100), 2.375rem);
    line-height: 146%
}

.button {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.4375rem + .5625 * ((100vw - 20rem) / 100), 2rem)
}

.button-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.4375rem + .5625 * ((100vw - 20rem) / 100), 2rem)
}

.caption {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.25rem + .125 * ((100vw - 20rem) / 100), 1.375rem)
}

@keyframes loading-1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes loading-3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes loading-2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(24px, 0)
    }
}

.block-hero-resource {
    background-color: #f9f5eb;
    position: relative;
    text-align: center;
    padding: min(2.1875rem + 7.1875 * ((100vw - 20rem) / 100), 9.375rem) 0 0;
    margin-bottom: 3.125rem
}

.block-hero-resource::before {
    content: "";
    display: block;
    width: 100%;
    height: min(8.125rem + 8.125 * ((100vw - 20rem) / 100), 16.25rem);
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0
}

.block-hero-resource .meta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: min(.625rem + .3125 * ((100vw - 20rem) / 100), .9375rem);
    margin-bottom: min(1.25rem + .9375 * ((100vw - 20rem) / 100), 2.1875rem)
}

.block-hero-resource .pill {
    display: inline-block;
    padding: min(.625rem + .125 * ((100vw - 20rem) / 100), .75rem) min(.75rem + .1875 * ((100vw - 20rem) / 100), .9375rem);
    font-size: min(.75rem + .5 * ((100vw - 20rem) / 100), 1.25rem);
    border-radius: .9375rem 0 .9375rem .9375rem;
    background-color: #4cb078;
    color: #fff;
    min-width: min(7.5rem + 5 * ((100vw - 20rem) / 100), 12.5rem);
    text-align: center
}

.block-hero-resource .pill.pill-alt {
    background-color: #f9f5eb;
    border: 1px solid #4cb078;
    margin-left: 4px;
    color: #4cb078
}

.block-hero-resource .content {
    max-width: 75rem;
    margin: 0 auto;
    padding: .75rem
}

.block-hero-resource .image {
    position: relative;
    margin: min(1.875rem + 1.25 * ((100vw - 20rem) / 100), 3.125rem) auto 0
}

.block-hero-resource .image::after {
    content: "";
    display: inline-block;
    width: 100%;
    padding-top: 46.6666666667%
}

.block-hero-resource .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}