@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
.display-1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2.25rem + 4 * ((100vw - 20rem) / 100), 6.25rem);
    line-height: 108%
}

.display-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2.625rem + 6.75 * ((100vw - 20rem) / 100), 9.375rem);
    line-height: 108%
}

.display-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(2rem + 3 * ((100vw - 20rem) / 100), 5rem);
    line-height: 108%
}

.heading-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.5rem + 1.75 * ((100vw - 20rem) / 100), 3.25rem);
    line-height: 108%;
    letter-spacing: -2px
}

.heading-2-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.5rem + 1.75 * ((100vw - 20rem) / 100), 3.25rem);
    line-height: 108%;
    letter-spacing: -2px
}

.heading-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.75rem + .875 * ((100vw - 20rem) / 100), 2.625rem);
    line-height: 108%
}

.heading-3-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.75rem + .875 * ((100vw - 20rem) / 100), 2.625rem);
    line-height: 108%
}

.heading-4 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25rem + .625 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 108%
}

.heading-4-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.25rem + .625 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 108%
}

.heading-5 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.125rem + .625 * ((100vw - 20rem) / 100), 1.75rem);
    line-height: 108%
}

.heading-5-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1.125rem + .625 * ((100vw - 20rem) / 100), 1.75rem);
    line-height: 108%
}

.heading-6 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.5rem + 0 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: clamp(2.25rem, 2.25rem + 0 * ((100vw - 20rem) / 100), 2.25rem)
}

.heading-6-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.5rem + 0 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: clamp(2.25rem, 2.25rem + 0 * ((100vw - 20rem) / 100), 2.25rem)
}

.text-small {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .5 * ((100vw - 20rem) / 100), 1.5rem);
    line-height: 146%
}

.text-normal {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .875 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 146%
}

.text-normal-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1rem + .875 * ((100vw - 20rem) / 100), 1.875rem);
    line-height: 146%
}

.text-large {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1.25rem + 1.125 * ((100vw - 20rem) / 100), 2.375rem);
    line-height: 146%
}

.text-large-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1.25rem + 1.125 * ((100vw - 20rem) / 100), 2.375rem);
    line-height: 146%
}

.button {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.4375rem + .5625 * ((100vw - 20rem) / 100), 2rem)
}

.button-bold {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.4375rem + .5625 * ((100vw - 20rem) / 100), 2rem)
}

.caption {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: min(1rem + .375 * ((100vw - 20rem) / 100), 1.375rem);
    line-height: min(1.25rem + .125 * ((100vw - 20rem) / 100), 1.375rem)
}

@keyframes loading-1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes loading-3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes loading-2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(24px, 0)
    }
}

.block-post-author .wrapper-container {
    padding: min(3.125rem + 6.25 * ((100vw - 20rem) / 100), 9.375rem) min(.375rem + 9 * ((100vw - 20rem) / 100), 9.375rem)
}

.block-post-author .wrapper-container.spacing-small {
    padding: 3.125rem min(.375rem + 2.75 * ((100vw - 20rem) / 100), 3.125rem)
}

.block-post-author .wrapper-container.spacing-medium {
    padding: min(3.125rem + 3.125 * ((100vw - 20rem) / 100), 6.25rem) min(.375rem + 5.875 * ((100vw - 20rem) / 100), 6.25rem)
}

.block-post-author .wrapper-container.spacing-large {
    padding: min(3.125rem + 6.25 * ((100vw - 20rem) / 100), 9.375rem) min(.375rem + 9 * ((100vw - 20rem) / 100), 9.375rem)
}

.block-post-author .wrapper-container.spacing-none {
    padding: 0
}

.block-post-author .thumbnail-image,
.block-post-author .thumbnail-image img {
    position: relative;
    border-radius: 50%;
    overflow: hidden
}

.block-post-author .thumbnail-image img,
.block-post-author .thumbnail-image img img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    max-width: 9.375rem;
    max-height: 9.375rem;
    font-size: 0
}

.block-post-author .overline {
    opacity: .5;
    color: #393e46
}

.block-post-author .title {
    font-weight: 500
}

.block-post-author .meta {
    display: grid;
    margin-bottom: min(1.5625rem + 1.5625 * ((100vw - 20rem) / 100), 3.125rem);
    grid-template-columns: min(3.75rem + 5.625 * ((100vw - 20rem) / 100), 9.375rem) 1fr;
    gap: min(1.25rem + .9375 * ((100vw - 20rem) / 100), 2.1875rem);
    align-items: center
}

.block-post-author .text {
    margin-bottom: min(1.5625rem + 4.6875 * ((100vw - 20rem) / 100), 6.25rem)
}

.block-post-author .share-wrap {
    display: grid;
    padding: min(1.25rem + .9375 * ((100vw - 20rem) / 100), 2.1875rem) 0;
    justify-content: center;
    gap: 1.25rem;
    border-top: 1px solid rgba(57, 62, 70, .1);
    border-bottom: 1px solid rgba(57, 62, 70, .1)
}

@media(min-width:48rem) {
    .block-post-author .share-wrap {
        align-items: center;
        grid-template-columns: 18.75rem 1fr;
        gap: 1.25rem;
        justify-content: space-between
    }
}

.block-post-author .label {
    color: rgba(57, 62, 70, .5);
    text-align: center
}

@media(min-width:48rem) {
    .block-post-author .label {
        text-align: left
    }
}

.block-post-author .social-items {
    display: flex;
    justify-content: flex-end;
    gap: min(1.0625rem + 1.125 * ((100vw - 20rem) / 100), 2.1875rem)
}

.block-post-author .social-items .button .button-icon {
    background-color: rgba(57, 62, 70, .05)
}

.block-post-author .social-items .button .button-icon svg {
    color: rgba(57, 62, 70, .35)
}

.block-post-author .social-items .button:hover .button-icon {
    background-color: #4cb078
}

.block-post-author .social-items .button:hover .button-icon svg {
    color: #fff
}